extends layout

block content
  div.container-content
    div.welcome-messages-board 
      h1 Welcome to the Message Board! 
      p Here you can post messages (if you are a member!), and see what other people message's (if you are a member!)
      br
    div.container-messages
      if (user)
        if (user.isMember)
          div.input-message
            div.img-user
              div.example-image
            form(method="POST" action="").form-message
              input(type="text" name="title-message" placeholder="Title...").title-input 
              input(type="text" name="details-message" placeholder="Details...").details-input
              input(type="submit" value="Submit").submit-input
        div.messages
        else 
          span= user.username 
      else 
        span = "Hello"

