doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div.container
      header 
        a(href="/") 
          div.title
            span.middletitle .
            span members
            span.middletitle -
            span only
        if (!(user))
          div.user-entry
            a(href="/").left-a Home
            a(href='/sign_up').left-a Sign Up
            a(href="/log_in") Log In
        else 
          div.user-entry
            a(href="/").left-a Home
            a(href='/become_a_admin').left-a Become a admin
            a(href='/become_a_member').left-a Become a member
            a(href="/log_out") Log out
      block content
      footer     
          span Alex Srebernic 2022
          a(href="https://github.com/alexsrebernic") Github 
          a(href="https://www.linkedin.com/in/alex-srebernic-201427213/") Linkedin

  

