extends layout 
block content 
   div.container-content
        div 
            h1 Log In
        form(method="POST" action="").form-sign-up
            input(type="text" name="username" placeholder="Enter username")
            input(type="password" name="password" placeholder="Enter password") 
            input(type="submit" value="Log in").submit-sign-up